html, body{
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}


@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");




.parallax {
  /* The image used */
  /*background-image: url("https://source.unsplash.com/1920x1080/?nature");*/
  background-image: url("../img/background2.jpg");

  /* Set a specific height */
  min-height: 2000px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blurred{
	height: 100%;  
	width: 100%;
	backdrop-filter: blur(10px);
}

.cv{
	padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
	color: white;
	font-size: 22px;
  text-align: center;
}

/*@-webkit-keyframes arrowInOut {
	0%,100% {opacity: 0;}
	30%, 80% {opacity: 1;}
}
@keyframes arrowInOut {
	 0%,100% {opacity: 0;}
	 30%, 80% {opacity: 1;}
 }*/


.wrapper {
  display: inline-flex;
  font-family: "Poppins", sans-serif;
}

.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 40px;
  height: 40px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 8px 20px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .download:hover,
.wrapper .download:hover .tooltip,
.wrapper .download:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}

.wrapper .share:hover,
.wrapper .share:hover .tooltip,
.wrapper .share:hover .tooltip::before {
  background-color: CornflowerBlue;
  color: #ffffff;
}

.imgDownload{
  padding-top:  10px;
  height: 75px;
  width: 75px;
}

.imgShare{
  padding-top: 6px;
  padding-right: 7px;
  height: 50px;
  width: 50px;
}

.imgDownload:hover,
.imgShare:hover{
  filter: invert(100%);
}




.it{
  width:80%; 
  background: #fff;
  border-radius: 6px; 
  margin:auto;
}

.it img{
  filter:  grayscale(100%);

  transition:  transform 0.5s ease;
  -webkit-transition:  transform 0.5s ease;
  -moz-transition:  transform 0.5s ease;
  -ms-transition:  transform 0.5s ease;
}

.it img:hover{
  filter:  grayscale(0%);
  transform:  scale(1.10);
  -moz-transform:  scale(1.10);
  -ms-transform:  scale(1.10);
  -webkit-transform:  scale(1.10);
}










