html, body{
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}


@media screen and (max-width: 1115px) {

    .blurred{
  height: 100%;
  width: 100%;
  backdrop-filter: blur(10px);
  }


  .aboutMeZone{
    flex-direction: column;
    left: 50%;
    align-items: center;
  }

  .aboutMePhoto{
    padding-bottom: 20px;
  }
}

.parallax {
  /* The image used */
  /*background-image: url("https://source.unsplash.com/1920x1080/?nature");*/
  /* background-image: url("../img/background2.jpg"); */
  /*background-image: url("../img/abstract_background.jpg");*/
  background-image: url("../img/bggif.gif");

  /* background-color: #333; */
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);

  /* Set a specific height */
  min-height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blurred{
	height: 100%;
	width: 100%;
	backdrop-filter: blur(0px);
}

.prez{
	padding-top: 150px;
	text-align: center;
	color: white;
	font-size: 22px;
}

.imgcv{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.imgArrow{
	width: 15%;
	height: 15%;
}


/*ABOUT ME*/
.aboutMe{
	height: 100%; 
	width: 100%; 
}

.aboutMeZone{
	height: 100%;
  display: flex;
  justify-content: center;
  padding: 0 50px;
}

.aboutMeTitle{
	color: white;
  margin: auto;
  width: 400px;
	text-transform: uppercase;
  font-size: 35px;
  text-align: center;
  border-bottom: 3px solid white;
   border-radius: 0 0 10px 10px;
   padding: 0 10px 10px 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
 
.aboutMeInfos {
  width: 70%;
  height: 100%;
}

.aboutMeInfosText{
  padding: 15px;
  margin: auto;
  font-size: 20px;
  text-align: justify;
  line-height: 1.7;
  background: rgba(255, 255, 255, 1);
  border-radius: 5px;
}

.aboutMePhoto{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.aboutMeIsen {
  width: auto;
  padding-top: 40px;
}

.aboutMeIsen .img1{
  border-radius: 5px;
}

.aboutMeIsen .img2{
  border-radius: 5px;
  height: 180px;
}



/*CONTACT*/

@media screen and (max-width:  760px){
  #contact{
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .contactItem{
    margin-bottom: 50px;
  }
}

.contact{
  width:100%;
  height: 100%;
}

.contactTitle {
  color: white;
  margin: auto;
  width: 220px;
  text-transform: uppercase;
  font-size: 35px;
  text-align: center;
  border-bottom:  3px solid white;
  border-radius: 0 10px 10px 10px;
  padding: 0 10px 10px 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#contact {
  display: flex;
  background-color: none;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;

}

.contactItem{
  height: 250px;
  width: 25%;
  /*background: white;*/
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0, white 90%);
  color: black;
  margin: 0 50px;
  padding: 0 0px;

  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);

  /*Transitions pour tout navigateur*/
  transition:  transform 0.5s ease;
  -webkit-transition:  transform 0.5s ease;
  -moz-transition:  transform 0.5s ease;
  -ms-transition:  transform 0.5s ease;

}

.mail{
  width: 20%;
  height: 20%;
}

.phone{
  width: 14%;
  height: 14%;
}

.linkedin{
  width: 35%;
  height: 35%;
}

.QRCODE{
  width: 30%;
  height: 30%;
}

.contactItem .contact-content{
  text-align: center;
  /* font-family: "Lucida Console", Courier, monospace; */
  padding-top: 20px;
}

.contactItem .contact-content p{
  padding-top: 50px;
  font-size: 20px;
}

.contactItem:hover{
  transform:  scale(1.10);
  -moz-transform:  scale(1.10);
  -ms-transform:  scale(1.10);
  -webkit-transform:  scale(1.10);
  
  background: white;
}





/*@-webkit-keyframes arrowInOut {
	0%,100% {opacity: 0;}
	30%, 80% {opacity: 1;}
}
@keyframes arrowInOut {
	 0%,100% {opacity: 0;}
	 30%, 80% {opacity: 1;}
 }*/
