html, body{
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

@media screen and (max-width: 1115px) {

    .blurred{
  height: 100%;
  width: 100%;
  backdrop-filter: blur(10px);
  }

  .aboutMeZone{
    flex-direction: column;
    left: 50%;
    align-items: center;
  }

  .aboutMePhoto{
    padding-bottom: 20px;
  }
}

.parallax {
  /* The image used */
  /*background-image: url("https://source.unsplash.com/1920x1080/?nature");*/
  background-image: url("../img/background2.jpg");
  /*background: rgba(3, 22, 37, 1);*/
  /*background-image: url("../img/abstract_background.jpg");*/

  /* Set a specific height */
  min-height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blurred{
	height: 100%;
	width: 100%;
	backdrop-filter: blur(10px);
}

.prez{
	padding-top: 150px;
	text-align: center;
	color: white;
	font-size: 22px;
}

.imgcv{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.imgArrow{
	width: 15%;
	height: 15%;
}


/*ABOUT ME*/
.aboutMe{
	height: 100%; 
	width: 100%; 
}

.aboutMeZone{
	height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.SectionTitle {
	color: white;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
  font-size: 35px;
    text-align: center;
}

.aboutMePhoto {
    width: 30%;
}
 
.aboutMeInfos {
  width: 70%;
  height: 100%;
}

.aboutMeInfosText{
  padding: 15px;
  margin: auto;
  font-size: 20px;
  text-align: justify;
  line-height: 1.7;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
}

.aboutMeIsen {
  width: 100%;
  text-align: center;
  padding-top: 40px;
}

.aboutMeIsen img{
  border-radius: 15px;
}



/*CONTACT*/
.contact{
  height:6000px; 
  width:100%; 
  text-align: center;
}

.contactZone{
  height: 50px;
}

.contactTitle {
  color: white;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 35px;
  border-bottom: 3px white;
  border-top: 3px white;
}

.contactBlank {
  float: left;
  width: 3.3%;
  height: 100%;
}

.contactMail {
  float: left;
    width: 30%;
    height: 100%;
    color: white;
    font-size: 22px;
}
 
.contactPhone {
 float: left;
  width: 30%;
  height: 100%;
  color: white;
  font-size: 22px;
}

.contactLinkedIn {
 float: left;
  width: 30%;
  height: 100%;
}

.contactLinkedIn img{
  width: 20%;
  border-radius: 15px;
}



/*@-webkit-keyframes arrowInOut {
	0%,100% {opacity: 0;}
	30%, 80% {opacity: 1;}
}
@keyframes arrowInOut {
	 0%,100% {opacity: 0;}
	 30%, 80% {opacity: 1;}
 }*/
