html, body{
	margin: 0;
	padding: 0;
    height: 100%;
	font-family: 'Lato', sans-serif;
}

.parallax {
    /* The image used */
    /*background-image: url("https://source.unsplash.com/1920x1080/?nature");*/
    /* background-image: url("../img/background2.jpg"); */
    /*background: rgba(3, 22, 37, 1);*/
  
    background-image: url("../img/bggif.gif");
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  
    /* Set a specific height */
    min-height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


.titlepage h2{
    width: 15%; 
    margin: auto;
    text-align: center;
    color: white;
  
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding: 10px 0 10px 0;
}

.allProjectsSmall{
  display: flex;
  justify-content: center;
}

.projetsRow{
    margin: 50px 10px 0 10px;

    display: inline-block;
    color: #333;
}

.smallInfo{
    height: 290px;
    width: 500px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;  

    transition:  transform 0.5s ease;
  -webkit-transition:  transform 0.5s ease;
  -moz-transition:  transform 0.5s ease;
  -ms-transition:  transform 0.5s ease;
}

.smallInfo:hover{

    transform:  scale(1.02);
  -moz-transform:  scale(1.02);
  -ms-transform:  scale(1.02);
  -webkit-transform:  scale(1.02);
  box-shadow: 0 0 5rem rgba(0, 0, 0, .5);

  cursor: pointer;
}

.smallInfo svg{
  transition:  transform 0.5s ease;
  -webkit-transition:  transform 0.5s ease;
  -moz-transition:  transform 0.5s ease;
  -ms-transition:  transform 0.5s ease;
}

.smallInfo:hover svg:hover{
  color: rgb(14, 165, 0);
  transform: rotate(90deg);
}


.smallInfo .title{
  display: flex; align-items: center; margin: 0 20px 0 20px; justify-content: space-between;
}

.smallInfo .title h2{
  width: 85%;
}

.smallInfo .infos{
  width: 100%; height: 100%; display: flex; flex-direction: row; justify-content: space-evenly; align-items: center;
}

.smallInfo .infos img{
  height: 160px; border-radius: 5px;
}

.smallInfo .infos .domain{
  background-color:#333; height: 180px; width: 250px; border-radius: 5px; color: white;
  justify-content: center;
}

.smallInfo .infos .domain .titleDomain{
  width:100%; height: 100%; padding-left: 20px; padding-right: 20px;
}

.smallInfo .infos .domain span{
  /* font-family: Courier, monospace; */
  line-height: 22px;
}


.allProjectsBig{
  display: flex;
  justify-content: center;
}

.bigInfos{
  height: 450px;
  width: 1020px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.bigInfos .title{
  display: flex; align-items: center; margin: 0 20px 0 20px; justify-content: space-between;
}

.bigInfos .infos{
  width: 100%; 
  height: 100%; 
  display: flex; 
  flex-direction: row; 
  justify-content: space-evenly; 
  align-items: center;
  align-items: flex-start;
}

.bigInfos .infos img{
  height: 160px; border-radius: 5px;
}

.bigInfos .infos .bigDomain{
  background-color:#333; height: 130px; width: 500px; border-radius: 5px; color: white;
  justify-content: center;
  padding-bottom: 15px;
}

.bigInfos .infos .bigDomain .titleDomain{
  width:100%; height: 100%; padding-left: 20px; padding-right: 20px;
}

.bigInfos svg{
  transition:  transform 0.5s ease;
  -webkit-transition:  transform 0.5s ease;
  -moz-transition:  transform 0.5s ease;
  -ms-transition:  transform 0.5s ease;
}

.bigInfos svg:hover{
  color: rgb(197, 4, 4);
  transform: rotate(90deg);
}

.bigInfos .infos .bigDomain span{
  line-height: 22px;
  
}

.bigInfos .desc{
  background-color: thistle;
  margin: 0 20px 20px 20px;
  text-align: justify;
}


#oxymetreBig{
  display: none;
}

#trackingBig{
  display: none;
}

#ecgBig{
  display: none;
}

#ecologyBig{
  display: none;
}

#small{
  display: flex;
}